article
{
	padding: 40px;
}

header
{
	font-weight: bold;
	border: 2px solid red;
	text-align: center;
	padding: 4px;
}

h1
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

table
{
	border: 2px solid black;
	margin: 10px;
	padding: 0px;
	border-collapse: collapse;
	float: left;
}

tr, th, td, thead, tfoot, tbody
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

thead{ background-color: cyan; }
tbody th{ background-color: plum; }
tbody tr:nth-child(even){ background-color: white; }
tbody tr:nth-child(odd){ background-color: lime; }
tfoot{ background-color: navajowhite; }

img
{
	float: right;
	height: 230px;
	margin: 10px;
}
